<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.act}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.act_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.service_usage_fee}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.service_usage_fee_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.any_other_cost_than_the_service_fee_to_be_borne_by_users}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.any_other_cost_than_the_service_fee_to_be_borne_by_users_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.payment_timing_and_method}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.payment_timing_and_method_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.timing_of_start_of_the_service}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.timing_of_start_of_the_service_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.cancellation_of_subscription}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.cancellation_of_subscription_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.system_requirements}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.system_requirements_content}}</div>

