<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.privacy_policy}}</h2>
</div>
<p class="margin-bottom-20">{{commonService.dateFormat(data.remote.settings.privacy_policy_updated)}}</p>

<div class="pre-line margin-bottom-20">{{data.remote.texts.privacy_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.information_collected_about_you}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.information_collected_about_you_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.how_we_use_this_information}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.how_we_use_this_information_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.how_we_share_this_information}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.how_we_share_this_information_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.your_choices}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.your_choices_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.security_etc}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.security_etc_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.for_your_information_other_tech}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.for_your_information_other_tech_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.questions}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.privacy_question_content}}</div>

