<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.terms_of_service}}</h2>
</div>

<p class="margin-bottom-20">{{commonService.dateFormat(data.remote.settings.terms_of_service_updated)}}</p>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.description_of_terms_of_use}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.description_of_terms_of_use_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.changes_to_the_terms_of_use}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.changes_to_the_terms_of_use_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.access_and_use_of_the_service}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.access_and_use_of_the_service_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.subscriptions_and_billing}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.subscriptions_and_billing_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.subscriber_accounts}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.subscriber_accounts_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.collection_and_use_of_personal_information}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.collection_and_use_of_personal_information_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.use_reviews_comments_and_other_material}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.use_reviews_comments_and_other_material_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.disclaimer_of_warranties_limitation_of_liability_and_indemnity}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.disclaimer_of_warranties_limitation_of_liability_and_indemnity_content}}</div>

<div class="headline">
	<h2 class="ng-binding">{{data.remote.texts.terms_general_information}}</h2>
</div>

<div class="pre-line margin-bottom-20">{{data.remote.texts.terms_general_information_content}}</div>

