/* Add here all your css styles (customizations) */
body {
	font-family: Helvetica,Arial,meiryo,sans-serif;
}

.logo-boxes {
	float: left;
}

.logo-boxes img {
	vertical-align: bottom;
}

.logo-autham,
.logo-area,
.logo-site-genre {
	height: 16px;
	margin-top: 12px;
}

.loader {
	/*
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.95);
	color: white;
	*/
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
	color: #AAA;
	height: 100%;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	z-index: 9999;
	top: 0;
}

.loader-box {
	height: 56px;
	left: 50%;
	margin: -28px 0 0 -45px;
	position: absolute;
	top: 50%;
	width: 90px;
}

.loader i{
	font-size: 300%;
}
 
.loader p{
	/*
	color: #FFF;
	*/
	color: #AAA;
}

.footer-logo {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans",meiryo,sans-serif;
}

.topbar h1 {
	font-size: 10px;
	margin: 0;
	line-height: 20px;
}

.header .navbar-default .navbar-nav > li > a {
	font-size: 12px;
	padding: 9px 20px 9px 10px;
}

.header .dropdown > a:after {
	right: 7px;
}

.content {
	padding-top: 15px;
	padding-bottom: 15px;
}

.headline h2 {
	font-size: 15px;
}

.magazine-page span.magazine-badge {
	font-size: 12px;
}

.footer-v1 .footer h2 {
	font-size: 16px;
}

#accordion-1 .panel-title,
#accordion-2 .panel-title {
	cursor: pointer;
}

.input-group .form-control {
	height: auto;
}

.btn-selected-search {
	bottom: 0;
	left: 0;
	opacity: 0.8;
	position: fixed;
	width: 100%;
	z-index: 9000;
}

.btn-inverse {
	background-color: #333;
	border-color: #333;
	color: #FFF;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active {
	background-color: #262626;
	border-color: #1a1a1a;
	color: #FFF;
}
.btn-inverse.disabled:hover,
.btn-inverse.disabled:focus,
.btn-inverse.disabled:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled]:hover,
.btn-inverse[disabled]:focus,
.btn-inverse[disabled]:active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse:hover,
fieldset[disabled] .btn-inverse:focus,
fieldset[disabled] .btn-inverse:active,
fieldset[disabled] .btn-inverse.active {
	background-color: #333;
	border-color: #333;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-15 {
	margin-top: 15px;
}

.text-light {
	color: #BBB;
}

.text-yellow {
	color: #f1c40f;
}

.pagination > li > a {
	padding-left: 12px;
	padding-right: 12px;
	font-size: 11px;
}
.pagination > li.dot > a {
	border-bottom: medium none;
	border-top: medium none;
	padding-left: 8px;
	padding-right: 8px;
}

.pagination {
	margin: 0 0 10px;
}

.dropdown-menu {
	min-width: inherit;
}

.sky-form {
	font: 13px/1.55 'Open Sans', Helvetica, Arial, meiryo, sans-serif;
}

.sky-form .input input, .sky-form .select select, .sky-form .textarea textarea {
	font: 15px/19px 'Open Sans', Helvetica, Arial, meiryo, sans-serif;
}

#accordion-1.sky-form {
	border: none;
	box-shadow: none;
}

#accordion-1.sky-form .checkbox i {
	top: 0px;
}

#accordion-1.sky-form .checkbox {
	min-height: 17px;
	padding-left: 17px;
}

.pre-line {
	white-space: pre-line;
}

.magazine-mini-news h3, .magazine-mini-news h3 a {
	font-size: 14px;
}

.sky-form.search-condition {
	border: none;
}

.sky-form .label {
	margin-bottom: 0;
}

.sky-form .ui-slider-handle {
	height: 25px;
	width: 25px;
	margin: -13px 0 0 -13px;
}

.form_slider_values {
	border: none;
}

.job-img {
	background: url(../img/top.jpg) 70% 40% no-repeat;
}

.panel-body {
	position: relative;
}

.panel-body .input-group .form-control {
	word-break: break-all;
}

.job-img .job-banner h2 {
	white-space: pre-line;
}
